# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/
env/
.env
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# language_tool_python cache
LanguageTool-*/
